<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cb="http://typo3.org/ns/TYPO3/CMS/ContentBlocks/ViewHelpers"
      xmlns:d="http://typo3.org/ns/Webconsulting/Desiderio/Components/ComponentCollection"
      data-namespace-typo3-fluid="true">

<f:asset.css identifier="innesto-stats-badges" href="{cb:assetPath()}/frontend.css"/>

<d:layout.section frame="{data.frame_class}" spaceBefore="{data.space_before_class}" spaceAfter="{data.space_after_class}" class="innesto-stats-badges-section">
    <d:layout.container>
        <d:molecule.sectionIntro align="start" headingVariant="h3">
            <f:fragment name="eyebrow"><f:if condition="{data.eyebrow}">{data -> f:render.text(field: 'eyebrow')}</f:if></f:fragment>
            <f:fragment name="heading"><f:if condition="{data.header}">{data -> f:render.text(field: 'header')}</f:if></f:fragment>
        </d:molecule.sectionIntro>

        <dl class="innesto-stats-badges">
            <f:for each="{data.stats_badges_items}" as="entry">
                <div class="innesto-stats-badges__card">
                    <div class="innesto-stats-badges__row">
                        <dt class="innesto-stats-badges__title">{entry.title}</dt>
                        <f:if condition="{entry.badge_text}">
                            <span class="innesto-stats-badges__badge {f:if(condition: '{entry.badge_tone} == \'down\'', then: 'innesto-stats-badges__badge--down', else: 'innesto-stats-badges__badge--up')}">
                                <f:if condition="{entry.badge_tone} == 'down'">
                                    <f:then>
                                        <d:atom.icon name="trending-down" size="xs" class="innesto-stats-badges__badge-icon"/>
                                        <span class="sr-only"><f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:trend.down"/> </span>
                                    </f:then>
                                    <f:else>
                                        <d:atom.icon name="trending-up" size="xs" class="innesto-stats-badges__badge-icon"/>
                                        <span class="sr-only"><f:translate key="LLL:EXT:desiderio/Resources/Private/Language/labels.xlf:trend.positive"/> </span>
                                    </f:else>
                                </f:if>
                                {entry.badge_text}
                            </span>
                        </f:if>
                    </div>
                    <dd class="innesto-stats-badges__value">{entry.value}</dd>
                </div>
            </f:for>
        </dl>
    </d:layout.container>
</d:layout.section>

</html>
